.layout {
    max-width: 1440px;
    width: 100%;
    border-radius: 30px;
}

.title {
    margin: 0 !important;
    padding: 24px;
    font-size: 40px !important;
    font-weight: 700 !important;
}

@media (min-width: 1248px) {
    .container {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 24px 32px;
    }
}

@media (max-width: 1247px) {
    .container {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 24px;
    }
}

