.title {
    margin: 0 !important;
    padding: 24px;
    font-size: 40px !important;
    font-weight: 700 !important;
}

.select {
    width: 120px;
}

@media (max-width: 400px) {
    .title {
        font-size: 34px !important;
        padding: 24px 0 !important;
    }
}