.titleContainer {
    padding: 16px;
    align-items: center;
    gap: 8px;
}

.titlePlayerInfo {
    font-size: 40px;
    font-weight: 700;
}

.titleTeamLogo {
    height: 48px;
}

.selectRoster {
    width: 200px;
}

@media (max-width: 1024px) {
    .titlePlayerInfo {
        font-size: 32px;
    }
    .titleTeamLogo {
        height: 36px;
    }
    .titleContainer {
        padding: 0;
    }
}

@media (max-width: 820px) {
    .titlePlayerInfo {
        font-size: 28px;
    }
}

@media (max-width: 730px) {
    .titleContainer {
        flex-direction: column;
    }
}