.layout {
    max-width: 1440px;
    width: 100%;
    border-radius: 30px;
    margin-top: 40px;
}

.heroImage {
    width: calc(100% + 48px);
    height: 720px;
    margin: -24px -24px 0 -24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.playerDescription {
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: 256px;
    align-items: center;
    top: 464px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.8);
    padding: 24px 0 24px 24px;
}

.headShot {
    border-radius: 50% 50% 50% 50%;
    width: 228px;
    padding-bottom: 8px;
}

.playerInfo {
    align-items: center;
    gap: 12px;
    min-width: 620px;
}
