

@media (max-width: 599px) {
    .container {
        flex-direction: column;
    }

    .playerInfo {
        flex-direction: row;
        width: 100%;
    }
    
    .playersList {
        width: 100%;
    }
}

.title {
    color:black;
    text-decoration: none;
}

.title:hover {
    color:black;
    text-decoration: none;
}

@media (min-width: 600px) {
    .container {
        padding-top: 16px;
    }

    .playerInfo {
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
    
    .playersList {
        width: 50%;
    }
}

.skatersTable {
    width: 100%;
}

.listItem {
    padding: 4px 0 !important;
}