.arrow {
    padding: 0 24px 0 0;
    min-width: 0;
    width: 100%;
}

.arrow :global(.slick-arrow) {
    color: black;
}

.statsContainer {
    display: flex !important;
    flex-direction: column;
    padding: 0 24px;
    gap: 16px;
    width: 100%;
}